body{
background-image: url("../../assets/Img/images.png");
}
header
{
text-align: center;
}
header h1
{
    font-size: 50px;
    color: rgb(14, 239, 255);
}
.secondo{
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
   
}