body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0) ;
}
header{
    background-color : lightblue;
    text-align : center;
    border: 1px solid rgb(255, 255, 255);
    height: 200px;  
    font-size: 50px;  
    
    }
.primo{
   font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.terzo{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.quarto{
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.elenco{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 40px;
    text-align: center;
    list-style-image : url("../../assets/Img/icons8-cuore-48.png");
}

h2{
    padding: 100px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}